<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Orders</title>
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <script type="text/javascript" th:src="@{/js/table.js}"></script>
</head>
<body>
    <h2>Your Orders</h2>
        <div th:if="${orders.isEmpty()}">
            <p>No orders found.</p>
        </div>
        <div th:if="${not orders.isEmpty()}">
            <h3>Order Information:</h3>
            <table>
                <thead>
                <tr>
                    <th>Rooms</th>
                    <th>Desired Room Type</th>
                    <th>Desired Beds</th>
                    <th>Bill Status</th>
                    <th>Bill Amount</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody class="clickable">
                <tr th:each="order : ${orders}" th:onclick="handleRowClick(/*[[${order.id}]]*/)">
                    <td>
                        <ul>
                            <li th:each="room : ${order.rooms}">
                                <span th:text="${'Room #' + room.roomNumber + ' (' + room.possibleLivers + ' beds)'}"></span>
                            </li>
                        </ul>
                    </td>
                    <td th:text="${order.desiredRoomType}"></td>
                    <td th:text="${order.desiredBeds}"></td>
                    <td th:if="${order.bill != null}" th:text="${order.bill.status}"></td>
                    <td th:if="${order.bill.billPrice != null}" th:text="${order.bill.billPrice}"></td>
                    <td th:unless="${order.bill.billPrice != null}">N/A</td>
                    <td th:text="${order.startDate}"></td>
                    <td th:text="${order.endDate}"></td>
                    <td th:text="${order.status}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>