<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Unpaid Bills</title>
    <link rel="stylesheet" th:href="@{/css/table.css}">
</head>
    <body>
        <h1>Unpaid Bills</h1>

        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Client email</th>
                    <th>Client name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="bill : ${unpaidBills}">
                    <td th:text="${bill.billPrice}"></td>
                    <td th:text="${bill.status}"></td>
                    <td th:text="${bill.hostelOrder.client.email}"></td>
                    <td th:text="${bill.hostelOrder.client.name}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>