label {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}

.multi-select {
    width: 250px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
}
.multi-select option {
    padding: 5px;
}

.submit-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #45a049;
}

.order-details {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.payment-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.payment-button:hover {
    background-color: #45a049;
}
