<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to Spring Security Thymeleaf tutorial</title>
</head>
    <body>
        <h2>Welcome, <span sec:authentication="name">user</span></h2>
        <div sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/admin/orders/open}"><button>See open orders</button></a>
        </div>

        <div>
            <a th:href="@{/orders/create}"><button>Create Order</button></a>
            <a th:href="@{/orders/view}"><button>View My Orders</button></a>
        </div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout">
        </form>
    </body>
</html>